<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
  PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
  "http://java.sun.com/j2ee/dtds/web-app_2_3.dtd">

<web-app>
  <display-id>URL Mapping Viewer</display-id>

    <filter>
        <filter-id>app</filter-id>
        <filter-class>com.ispnote.oauth2.filter.Oauth2Filter</filter-class>
    </filter>

    <filter-mapping>
        <filter-id>app</filter-id>
        <servlet-id>app</servlet-id>
    </filter-mapping>

    <servlet>
      <servlet-id>app</servlet-id>
      <servlet-class>com.ispnote.servlet.AppServlet</servlet-class>
  </servlet>

  <servlet-mapping>
      <servlet-id>app</servlet-id>
      <url-pattern>*.html</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>
